{% extends 'core/base.html' %}
{% load static%}

{% block content%}

<img class="banner" src="{{brand_obj.logo.url}}" alt="">
<div class="content-container">
<div class="brand-detail-description gray-bg">
    <h1> {{brand_obj.name}}</h1><br>
        <p>{{ brand_obj.description }}</p><br>
        
    <h2>Bicicletas {{ brand_obj.name }} de nossa coleção:</h2>
</div>


    <div class="brand-grid-container">    



        {%if bike_query %}
            {% for bike in bike_query %}
                <div class="brand-grid-item">
                    <img src="{{ bike.photo_set.all.first.small_photo.url }}" alt="" class="item-thumb">
                    <div class="item-description">
                        <h2><a class="bike-name-link" href=" {% url 'bike_detail' brandslug=brand_slug  bike_slug=bike.slug%} ">{{bike.bike_model}}</a></h2>
                        <span class="bike-year">{{bike.year}}</span>
                        {% comment %} <p class="description-cut">{{bike.description}}</p> {% endcomment %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
                <h1>dsfsdfsadfsdfdsf</h1>
        {% endif %}
    </div>
</div>
{% endblock %}
        {% comment %} <img src="{{ bike.photo_set.all.first.small_photo.url }}" alt="">
        <br>

        <a href="{% url 'bike_detail' bike_slug=bike.slug brandslug=brand_slug %}">{{ bike.bike_model }}</a>
         {% endcomment %}
