{% extends 'core/base.html' %}
{% load static%}

{% block content%}
    {% if brand_obj%}
        <img class="banner" src="{{brand_obj.logo.url}}" alt="">
        <div class="content-container">
            <div class="brand-detail-description gray-bg">
                <h1> {{brand_obj.name}}</h1><br>
                <p>{{ brand_obj.description }}</p><br>        
                <h2>Bicicletas {{ brand_obj.name }} em nosso acervo:</h2>
            </div>
            <div class="row row-cols-1  row-cols-md-2 g-4">
            {%if bike_query %}
                    {% for bike in bike_query %}
                    <div class="col">
                        <div class="card">
                            <a href="{% url 'bike_detail' brandslug=brand_slug bikeslug=bike.slug %}"><img src="{{ bike.photo_set.all.first.small_photo.url }}" class="card-img-top" alt="..."></a>
                            <div class="card-body">
                                <a href="{% url 'bike_detail' brandslug=brand_slug bikeslug=bike.slug %}"><h4 class="card-text">{{ bike.bike_model }} - {{ bike.year }}</h4></a>
                                        
                            </div>
                        </div>
                    </div>
                        {% endfor %}
                {% else %}
                        <h1>dsfsdfsadfsdfdsf</h1>
                {% endif %}
            </div>
        </div>
    {% else %}
        <h1>A marca {{ brand_slug}} não está cadastrada</h1>
    {% endif %}
        
{% endblock %}

