@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Roboto:wght@400;700;900&family=Rubik+Iso&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    padding:0;
    margin: 0;
    /* font-family: 'Roboto'; */
    font-family: 'Anton', sans-serif;
    color: #404040;
}

p {
    font-family:Arial, Helvetica, sans-serif;
}

a:link {
    text-decoration: none;
}

.content-container {
    max-width: 1245px;
    margin: 0 auto;
    /* padding: 20px; */
}

.bruno img {
    height:  700px;
    object-fit: cover;
}

/* grid das marcas */

.banner {
    height: 40vh;
    object-fit: cover;
    width:100%;
    padding-top:0px; 
}

.brand-grid-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0px;
}

.card-title {
    font-size: 50px;
    transition: 0.7s;
}

.card-title:hover {
    color: green;
}

.brand-description {
    font-family: Roboto; 
    text-align: justify;
}

.bike-name {
    /* text-decoration: none; */
    color: #404040;
    transform: transfrorm 1s;
}

.bike-name:hover {
    /* text-decoration: none; */
    color: rgb(123, 123, 123);
}

/* Animação da nome da marca */


/* Animação da logo da marca */
.img-card-brand {
    overflow: hidden;
}

.img-card-brand img{
    transition: transform 1s;
    overflow: hidden;
}

.img-card-brand:hover img{
    transform: scale(1.05); 
}


 /* grid das bicicletas */
.brand-grid-item {
     text-align: justify;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 0 20px 0 20px;
}

.item-thumb {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 250px;
    min-height: 150px;
    object-fit: cover;
}

.item-description {
    text-align: center;
    padding: 0 20px 8px 20px;
}

.gray-bg {
    background-color: #f1f1f1;
}

.brand-detail-description {
    padding: 15px;
}

.card-brand-text {
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* Coloca o footer lá embaixo */
.body-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-content {
    flex: 1;
}

/* Footer */

#footer-lkdn {
    color: #D8D8D8;
}

#footer-lkdn:hover {
    color: #989898;
}

.footer-social-media p, i {
    color: #D8D8D8;
}

.footer-social-media {
    display: flex;
    justify-content: right;
}

.footer-social-media i{
    margin-left: 20px;
}

@media (max-width: 1023px) {
    .footer-social-media p {
        display: none;
    }
}

@media (max-width: 767px) {
    .nav-items {
        font-size: 30px;
        text-align: center;
    }

    .footer-social-media {
        justify-content: center;
    }

    .row {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .brand-description {
        display: none;
    }
}